<header
  class="l-header"
  [class.is-top]="isTopPage"
  [class.header-scroll]="isTopPage"
  [class.-scrolled]="isTopPage && scrollY > 100"
>
  <div class="l-header__inner">
    <div class="l-header__logo">
      <a routerLink="/">
        <img
          src="/images/logo.png"
          alt="Company Name"
          width="{166}"
          height="{50}"
        />
      </a>
    </div>
    <nav class="l-header__nav">
      <button
        type="button"
        class="l-header__nav__toggle"
        (click)="handleNavToggleClick()"
      >
        <div class="l-header__nav__toggle__icon">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </button>
      <div class="l-header__nav__inner">
        <ul class="l-header__nav__list" onClick="{handleNavClose}">
          <li class="l-header__nav__list__item">
            <a routerLink="/article?topic=food">FOOD</a>
          </li>
          <li class="l-header__nav__list__item">
            <a routerLink="/article?topic=shopping">SHOPPING</a>
          </li>
          <li class="l-header__nav__list__item">
            <a routerLink="/article?topic=sightseeing">SIGHTSEEING</a>
          </li>
          <li class="l-header__nav__list__item">
            <a routerLink="/article?topic=event">EVENT</a>
          </li>
          <li class="l-header__nav__list__item">
            <a routerLink="/article?topic=culture">CULTURE</a>
          </li>
        </ul>
        <app-search (searchSubmit)="handleNavClose()"></app-search>
        <div *ngIf="!loading">
          <div *ngIf="user; else signUpArea" class="l-header__nav__options">
            <p class="is-sp c-text--small u-mt-0">ようこそ! さん</p>
            <a
              routerLink="/member/mypage/"
              class="l-header__nav__options__button c-button"
            >
              マイページ
            </a>
            <button
              type="button"
              class="-logout l-header__nav__options__button u-display-flex u-display-flex-align-items-center"
              (click)="handleLogout($event)"
            >
              ログアウト
              <svg
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M6 14H3.33333C2.97971 14 2.64057 13.8595 2.39052 13.6095C2.14048 13.3594 2 13.0203 2 12.6667V3.33333C2 2.97971 2.14048 2.64057 2.39052 2.39052C2.64057 2.14048 2.97971 2 3.33333 2H6"
                  stroke="white"
                  strokeWidth="1.33333"
                  strokeLinecap="round"
                  strokeLinejoin="round"
                />
                <path
                  d="M10.6667 11.3333L14.0001 7.99996L10.6667 4.66663"
                  stroke="white"
                  strokeWidth="1.33333"
                  strokeLinecap="round"
                  strokeLinejoin="round"
                />
                <path
                  d="M14 8H6"
                  stroke="white"
                  strokeWidth="1.33333"
                  strokeLinecap="round"
                  strokeLinejoin="round"
                />
              </svg>
            </button>
          </div>
          <ng-template #signUpArea>
            <div class="l-header__nav__options">
              <a
                routerLink="/login/"
                class="l-header__nav__options__button u-display-flex u-display-flex-align-items-center"
              >
                ログイン
                <svg
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M10 2H12.6667C13.0203 2 13.3594 2.14048 13.6095 2.39052C13.8595 2.64057 14 2.97971 14 3.33333V12.6667C14 13.0203 13.8595 13.3594 13.6095 13.6095C13.3594 13.8595 13.0203 14 12.6667 14H10"
                    stroke="white"
                    strokeWidth="1.33333"
                    strokeLinecap="round"
                    strokeLinejoin="round"
                  ></path>
                  <path
                    d="M6.66675 11.3333L10.0001 7.99996L6.66675 4.66663"
                    stroke="white"
                    strokeWidth="1.33333"
                    strokeLinecap="round"
                    strokeLinejoin="round"
                  ></path>
                  <path
                    d="M10 8H2"
                    stroke="white"
                    strokeWidth="1.33333"
                    strokeLinecap="round"
                    strokeLinejoin="round"
                  ></path>
                </svg>
              </a>
              <a
                routerLink="/register/"
                class="l-header__nav__options__button c-button -regist"
              >
                会員登録
              </a>
            </div>
          </ng-template>
        </div>
      </div>
    </nav>
  </div>
</header>
